html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1; 
}


.hero {
    background-size: cover;
    color: white;
    padding: 60px 0;
}

.hero h1 {
    font-size: 3em;
    font-weight: bold;
}

.hero p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Card Styles */
.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}




.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #343a40;
    color: white;
    text-align: center;
}



footer p {
    font-size: 1em;
  
}
